.projects-section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  color: var(--text-color);
  padding-top: 100px;
  padding-bottom: 100px;
  border-bottom: 1px solid var(--secondary-color);
}

.projects-container {
  width: var(--mobile-width-container);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.project-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
  border: 2px solid var(--secondary-color);
  border-radius: 10px;
  margin-top: 30px;
  background-color: var(--black-color);
}

.project-card img {
  object-fit: cover;
  width: 100%;
  border-radius: 10px;
  margin-bottom: 20px;
}

.project-card p {
  margin-bottom: 20px;
  width: 90%;
  background-color: transparent;
  text-align: center;
}

.project-card button {
  border: none;
  padding: 5px;
  color: var(--accent-color);
  background-color: transparent;
  border-bottom: 1px solid var(--secondary-color);
  transition: all 0.3s ease;
  display: flex;
  justify-content: space-between;
  width: 45%;
  font-size: 1rem;
}

.project-card button:hover {
  border-bottom: 1px solid var(--accent-color);
  width: 50%;
}